<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %logger{5} - %msg%n</pattern>
		</encoder>
	</appender>


	<!-- Configure your top level package below -->
	<logger name="com.gordondickens" level="DEBUG" />
	<logger name="org.springframework.beans" level="DEBUG" />

	<!--<logger name="org.springframework.beans.factory.support" level="DEBUG"/> -->
	<!-- <logger name="org.springframework.test.context" level="DEBUG"/> -->

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
