<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%-5level %logger{5} - %msg%n</pattern>
		</encoder>
	</appender>
 
    <!-- Configure your top level package below -->
    <!-- TODO change logger to {topLevelPackage} -->
    <logger name="com.gordondickens" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>